[Unit]
Description=Gunicorn instance to serve <your_app_name>
After=network.target

[Service]
User=<your_user>
Group=<your_group>
WorkingDirectory=<path_to_your_app>
ExecStart=<path_to_virtualenv>/bin/gunicorn --workers 3 --bind unix:<path_to_your_app>/your_app.sock <your_app_module>:app

[Install]
WantedBy=multi-user.target
